### Answers to Assignment 4 - Python Fundamentals II

Complete the tasks below. Please turn in a single Jupyter notebook named `4_first_last.ipynb` (substitute your first and last name). Please run Kernel > Restart & Run All on your notebook before turning in.

#### Answer to A. Lists and loops

1. Create a list of 10 random integers in the range of -100 to 100. 
2. Loop through that list using a for loop. Put the non-negative (positive or zero) integers into a new list. If negative integers are encountered, print a message saying that the value is negative and printing that value.

In [1]:
import random

In [2]:
# one way
list1 = random.sample(range(-100,100), 10)
list1

[4, 57, -78, -13, -35, 97, -52, -55, 28, -21]

In [3]:
# another way
list1 = [random.randrange(-100, 100) for i in range(10)]
list1

[-82, -3, 71, 7, -64, 88, 55, 11, 6, 66]

In [4]:
list2 = []
for item in list1:
    if item >= 0:
        list2.append(item)
    else:
        print('The value of %s is negative' % item)
list2

The value of -82 is negative
The value of -3 is negative
The value of -64 is negative

[71, 7, 88, 55, 11, 6, 66]

#### Answer to B. Functions, lists, and loops

1. Write a function that does what you did in part A but with the following differences: 
    - The input list can be any list of numbers.
    - The function should take as a parameter a threshold for being included in the new list (e.g., if you want non-negative integers, the threshold would be 0, and the function would check if values are >= to this value).
    - The printed message for failing to be included should also report the threshold parameter.
    - The new list should be returned by the function.
2. Execute the function on your list of 10 random integers.

In [5]:
def new_list_from_criterion(mylist, mycutoff):
    newlist = []
    for item in mylist:
        if item >= mycutoff:
            newlist.append(item)
        else:
            print('The value of %s is not >= %s' % (item, mycutoff))
    return(newlist)

In [6]:
new_list_from_criterion(list1, -0)

The value of -82 is not >= 0
The value of -3 is not >= 0
The value of -64 is not >= 0

[71, 7, 88, 55, 11, 6, 66]

#### Answer to C. Dictionaries and list enumeration

1. Create a two-dimensional list with 3 'rows' and 4 'columns' and a mixture of strings and integers. 
2. Loop through each element of the list and check if each element is a string or an integer. Save the strings as a dictionary with the index (row, column) as the key and the string as the value. Save the integers as a dictionary with the index (row, column) as the key and the integer as the value.
3. Print out your dictionaries (no `print` command required).

In [7]:
list2d = [[1, 'mango', 3, 'oranges'],
          ['peach', 'apple', 50, -50],
          [13, -11, 'bananas', 'grape']]
list2d

[[1, 'mango', 3, 'oranges'],
 ['peach', 'apple', 50, -50],
 [13, -11, 'bananas', 'grape']]

In [8]:
strdict = {}
intdict = {}
for row_index, row in enumerate(list2d):
    for col_index, item in enumerate(row):
        if isinstance(item, str):
            strdict[(row_index, col_index)] = item
        elif isinstance(item, int):
            intdict[(row_index, col_index)] = item

In [9]:
strdict

{(0, 1): 'mango',
 (0, 3): 'oranges',
 (1, 0): 'peach',
 (1, 1): 'apple',
 (2, 2): 'bananas',
 (2, 3): 'grape'}

In [10]:
intdict

{(0, 0): 1, (0, 2): 3, (1, 2): 50, (1, 3): -50, (2, 0): 13, (2, 1): -11}

#### Answer to D. List comprehension and saving files

1. Create a list of 5 strings that are first and last names, e.g. `'Jon Doe'`. 
2. Use a list comprehension (a single-line command) to get the first initial from each name and store each string (e.g. `'J'`) in a new list. Print this list (no `print` command required).
3. Repeat but store both the first and last initial (e.g. `'JD'`) in a new list. Print this list (no `print` command required).
4. Save this second list to a text file.

In [11]:
names = ['Buzz Aldrin', 'Neil Armstrong', 'Gordon Cooper', 'James Lovell', 'Edgar Mitchell']

In [12]:
first_initial = [name[0] for name in names]
first_initial

['B', 'N', 'G', 'J', 'E']

In [13]:
first_last_initial = [name.split(' ')[0][0] + name.split(' ')[1][0] for name in names]
first_last_initial

['BA', 'NA', 'GC', 'JL', 'EM']

In [14]:
with open('../../data/assign4_q4.txt', 'w') as target:
    for initials in first_last_initial:
        target.write(initials)
        target.write('\n')

#### Answer to E. Reading files, sets, and saving files

1. Download this text file of past [World Series winners](https://github.com/cuttlefishh/python-for-data-analysis/blob/master/data/world_series_winners.txt). 
2. Read in the lines of the file to a list, so that each line is an element of the list. 
3. Create a new list with just those list elements that contain 'New York'; print that list, making sure there's not an extra newline character between each line. Print this list (no `print` command required).
4. Use the `set` class to convert the list of all World Series winners to a list of unique values. Print this list (no `print` command required).
5. Write the output to a new file.

In [15]:
# one way
with open ('../../data/world_series_winners.txt', "r") as f:
    winners = f.read().splitlines()

In [16]:
# another way
with open('../../data/world_series_winners.txt', 'r') as f:
    winners = f.readlines()
winners = [team.rstrip() for team in winners]

In [17]:
new_york_winners = [team for team in winners if 'New York' in team]
new_york_winners

['New York Giants',
 'New York Giants',
 'New York Giants',
 'New York Yankees',
 'New York Yankees',
 'New York Yankees',
 'New York Yankees',
 'New York Giants',
 'New York Yankees',
 'New York Yankees',
 'New York Yankees',
 'New York Yankees',
 'New York Yankees',
 'New York Yankees',
 'New York Yankees',
 'New York Yankees',
 'New York Yankees',
 'New York Yankees',
 'New York Yankees',
 'New York Yankees',
 'New York Giants',
 'New York Yankees',
 'New York Yankees',
 'New York Yankees',
 'New York Yankees',
 'New York Mets',
 'New York Yankees',
 'New York Yankees',
 'New York Mets',
 'New York Yankees',
 'New York Yankees',
 'New York Yankees',
 'New York Yankees',
 'New York Yankees']

In [18]:
unique_winners = set(winners)
unique_winners

{'Anaheim Angels',
 'Arizona Diamondbacks',
 'Atlanta Braves',
 'Baltimore Orioles',
 'Boston Americans',
 'Boston Braves',
 'Boston Red Sox',
 'Brooklyn Dodgers',
 'Chicago Cubs',
 'Chicago White Sox',
 'Cincinnati Reds',
 'Cleveland Indians',
 'Detroit Tigers',
 'Florida Marlins',
 'Houston Astros',
 'Kansas City Royals',
 'Los Angeles Dodgers',
 'Milwaukee Braves',
 'Minnesota Twins',
 'New York Giants',
 'New York Mets',
 'New York Yankees',
 'No World Series',
 'Oakland Athletics',
 'Philadelphia Athletics',
 'Philadelphia Phillies',
 'Pittsburgh Pirates',
 'San Francisco Giants',
 'St. Louis Cardinals',
 'Toronto Blue Jays',
 'Washington Senators'}

In [19]:
with open('../../data/assign4_q5.txt', 'w') as target:
    for team in sorted(list(unique_winners)):
        target.write(team)
        target.write('\n')